@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container-studentsHouse {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

h1 {
  font-family: "Cinzel", serif;
}
#maison {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #333;
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

#maison option {
  background-color: #fff;
  color: #333;
}

/* Style personnalisé */
#maison:focus {
  outline: none;
  border-color: #7f7f7f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

li {
  width: 25%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(236, 236, 236);
  list-style: georgian;
}

li:hover {
  font-weight: bold;
}
